<!DOCTYPE HTML>
<html>
    <head>
        {% extends "layout.html" %}
    </head>
    <body>
        {% block content %}
            <br>
            <form method="post">
                <label for="rest_hr">Resting Heart Rate:</label>
                <input class="default_input" type="text" name="rest_hr" value=60><br>

                <label for="age">Age:</label>
                <input class="default_input" type="text" name="age" value=16><br>
                
                <label for="max_hr">Max Heart Rate (optional field):</label>
                <input class="default_input" type="text" name="max_hr" value="N/A"><br><br>

                <input type="submit" value="Submit">
            </form>

            <div id="messages">
                <h3>Max Heart Rate: {{ max_hr }}</h3>
                <h3>Heart Rate Reserve (HRR): {{ hrr }}</h3>
                <h3>Trans Zone (95-100% HRR): {{ trans_zone }}</h3>
                <h3>AT Zone (80-95% HRR): {{ at_zone }}</h3>
                <h3>UT1 Zone (70-80% HRR): {{ ut1_zone }}</h3>
                <h3>UT2 Zone (60-70% HRR): {{ ut2_zone }}</h3>
                <h3>UT3 Zone (50-60% HRR): {{ ut3_zone }}</h3>
            </div>
        {% endblock %}
    </body>
</html>
