<!DOCTYPE HTML>
<html>
    <head>
        {% extends "layout.html" %}
    </head>
    <body>
        {% block content %}
            <br>
            <form method="post">
                <label for="rest_hr">Resting Heart Rate:</label>
                <input class="default_input" type="text" name="rest_hr" value={{ rest_hr }}><br>

                <label for="age">Age:</label>
                <input class="default_input" type="text" name="age" value={{ age }}><br>
                
                <label for="max_hr">Max Heart Rate (optional field):</label>
                <input class="default_input" type="text" name="max_hr" value={{ max_hr }}><br><br>

                <button type="submit">Submit</button>
            </form>

            <div class="column">
                <p>Max Heart Rate: {{ calc_max_hr }}</p>
                <p>Heart Rate Reserve (HRR): {{ hrr }}</p>
                <p>TRANS (95-100% HRR): {{ trans_zone }}</p>
                <p>AT (80-95% HRR): {{ at_zone }}</p>
                <p>UT1 (70-80% HRR): {{ ut1_zone }}</p>
                <p>UT2 (60-70% HRR): {{ ut2_zone }}</p>
                <p>UT3 (50-60% HRR): {{ ut3_zone }}</p>
            </div>
        {% endblock %}
    </body>
</html>
